<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.DataShareMapper">
	<resultMap id="DataShare"
		type="jp.co.lyc.cms.model.DataShareModel" />

	<select id="selectDataShareFile" resultMap="DataShare"
		parameterType="String">
		SELECT
		fileNo,filePath,shareUser,shareStatus,updateTime,createTime,updateUser
		as employeeNo FROM T023DataShare
		where (shareStatus = "0" or
		shareStatus =
		"1")
		and updateTime between
		ifnull(#{updateTime},updateTime) and
		ifnull(#{nextMonthTime},updateTime)
		and shareUser =
		ifnull(#{shareUser},shareUser);
	</select>

	<select id="selectDataShareFileUpload" resultMap="DataShare"
		parameterType="String">
		SELECT
		fileNo,filePath,shareUser,shareStatus,updateTime,createTime,updateUser
		as employeeNo FROM T023DataShare
		where (shareStatus = "2" or
		shareStatus =
		"3")
		and updateTime between
		ifnull(#{updateTime},updateTime) and
		ifnull(#{nextMonthTime},updateTime)
		and shareUser =
		ifnull(#{shareUser},shareUser)
		order by updateTime desc;
	</select>

	<select id="selectDataShareFileOnly" resultMap="DataShare"
		parameterType="String">
		SELECT * FROM T023DataShare
		<if test="dataStatus == 0">
			WHERE shareStatus = "1"
			or
			(shareUser = #{shareUser} and
			shareStatus in ("2","3"));
		</if>
		<if test="dataStatus == 1">
			WHERE
			shareUser = #{shareUser} and
			shareStatus in ("2","3");
		</if>
		<if test="dataStatus == 2">
			WHERE shareStatus = "1";
		</if>
	</select>

	<update id="updateDataShare" parameterType="String">
		UPDATE
		T023DataShare
		SET
		shareStatus = #{shareStatus}
		WHERE
		fileNo = #{fileNo}
	</update>

	<update id="updateDataSharesTo2" parameterType="String">
		UPDATE
		T023DataShare
		SET
		shareStatus = "2"
		WHERE
		fileNo in
		<foreach item="item" collection="list" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</update>

	<update id="updateDataSharesTo3" parameterType="String">
		UPDATE
		T023DataShare
		SET
		shareStatus = "3"
		WHERE
		fileNo in
		<foreach item="item" collection="list" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</update>

	<update id="updateDataShareFile" parameterType="String">
		insert into
		T023DataShare
		(fileNo,filePath,shareUser,shareStatus,updateTime,createTime,updateUser)
		values(#{fileNo},#{filePath},#{shareUser},#{shareStatus},date_add(now(),
		interval
		9 hour),date_add(now(), interval 9 hour),#{employeeNo})
		ON
		DUPLICATE
		KEY
		update
		filePath = #{filePath},
		shareUser = #{shareUser},
		updateTime =
		date_add(now(), interval 9 hour),
		updateUser =
		#{employeeNo}
	</update>

	<delete id="deleteDataShare" parameterType="String">
		DELETE FROM
		T023DataShare
		WHERE
		fileNo = #{fileNo}
	</delete>

	<update id="updateDataShareAfterDelete" parameterType="String">
		UPDATE
		T023DataShare
		SET
		fileNo = fileNo - 1
		WHERE
		fileNo &gt; #{fileNo}
	</update>

	<select id="getMaxFileNo" resultMap="DataShare">
		SELECT (SELECT
		Max(fileNo)
		FROM T023DataShare) + 1 as fileNo
	</select>

	<delete id="deleteDataShares" parameterType="String">
		DELETE FROM
		T023DataShare
		WHERE
		fileNo in
		<foreach item="item" collection="list" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</delete>

	<update id="updateFileName" parameterType="String">
		UPDATE
		T023DataShare
		SET
		filePath = #{filePath}
		WHERE
		fileNo = #{fileNo}
	</update>
</mapper>