<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.DutyManagementMapper">
	<resultMap id="DutyManagement"
		type="jp.co.lyc.cms.model.DutyManagementModel" />
	<resultMap id="CostRegistration"
		type="jp.co.lyc.cms.model.CostRegistrationModel" />
	<resultMap id="String" type="java.lang.String" />
	<select id="selectDutyManagement" resultMap="DutyManagement"
		parameterType="String">
		SELECT
		t002.employeeStatus,
		t011.bpBelongCustomerAbbreviation,
		t011.bpBelongCustomerCode,
		T018.sumWorkTime as workTimeInputTotal,
		T016.workTime as workTimeInputSingle,
		<!-- workTime　稼働時間 入力優先 -->
		if(T016.workTime is null ,T018.sumWorkTime,T016.workTime) workTime,
		<!-- checkSection 0:未登録 1:upload 2:入力 -->
		if(T016.workTime is null and T018.sumWorkTime is
		null,'0',if(T016.workTime is not null,'2','1'))checkSection,
		if(T018.approvalStatus=1,"1","0")approvalStatus,
		(@rowNo:=@rowNo + 1)
		AS rowNo,
		t001.employeeNo,
		concat(t001.employeeFristName,t001.employeeLastName)
		as employeeName,
		if(t007.customerAbbreviation is null or
		t007.customerAbbreviation =
		"",t007.customerName,t007.customerAbbreviation) as customerName,
		m013.stationName,
		if(t006.payOffRange1 is null or t006.payOffRange1 =
		"0","固定",if(t006.payOffRange1 = "1" and t006.payOffRange2 =
		"1","出勤日",concat_ws("-",if(t006.payOffRange1 =
		"1","出勤日",t006.payOffRange1),if(t006.payOffRange2 =
		"1","出勤日",t006.payOffRange2)))) as payOffRange,
		T018.workingTimeReport,
		if(T018.DeductionsAndOvertimePay is
		null or
		T018.DeductionsAndOvertimePay =
		"",if(if(T016.workTime is null
		,T018.sumWorkTime,T016.workTime)>t006.payOffRange2,round(t005.salary/t006.payOffRange2*(if(T016.workTime
		is null
		,T018.sumWorkTime,T016.workTime)-t006.payOffRange2)),if(t006.payOffRange1>if(T016.workTime
		is null
		,T018.sumWorkTime,T016.workTime),round(t005.salary/t006.payOffRange1*(if(T016.workTime
		is null
		,T018.sumWorkTime,T016.workTime)-t006.payOffRange1)),0)),T018.DeductionsAndOvertimePay)deductionsAndOvertimePay,
		if(T018.DeductionsAndOvertimePayOfUnitPrice is null or
		T018.DeductionsAndOvertimePayOfUnitPrice =
		"",if(if(T016.workTime is
		null
		,T018.sumWorkTime,T016.workTime)>t006.payOffRange2,round(t006.unitPrice/t006.payOffRange2*(if(T016.workTime
		is null
		,T018.sumWorkTime,T016.workTime)-t006.payOffRange2)),if(t006.payOffRange1>if(T016.workTime
		is null
		,T018.sumWorkTime,T016.workTime),round(t006.unitPrice/t006.payOffRange1*(if(T016.workTime
		is null
		,T018.sumWorkTime,T016.workTime)-t006.payOffRange1)),0)),T018.DeductionsAndOvertimePayOfUnitPrice)deductionsAndOvertimePayOfUnitPrice,
		<!-- FORMAT(if(T018.sumWorkTime>t006.payOffRange2,t006.unitPrice/t006.payOffRange2*(T018.sumWorkTime-t006.payOffRange2),if(t006.payOffRange1>T018.sumWorkTime,t006.unitPrice/t006.payOffRange1*(T018.sumWorkTime-t006.payOffRange1),0)),0)deductionsAndOvertimePayOfUnitPrice, -->
		T018.updateTime,
		T018.approvalUser,
		t006.customerNo
		FROM
		T001Employee as
		t001
		#T002EmployeeDetail
		inner JOIN
		(select
		T002EmployeeDetail.employeeStatus,T002EmployeeDetail.employeeNo FROM
		T002EmployeeDetail) as t002
		on
		t002.employeeNo = t001.employeeNo
		left
		join
		(SELECT
		employeeNo,max(reflectYearAndMonth),salary FROM
		T005WagesInfo where
		reflectYearAndMonth&lt;=#{yearAndMonth} group by
		T005WagesInfo.employeeNo)t005 on t001.employeeNo=t005.employeeNo
		inner
		join
		(SELECT
		T006.employeeNo,unitPrice,T006.admissionStartDate,payOffRange1,payOffRange2,customerNo,stationCode
		FROM T006EmployeeSiteInfo as T006
		inner join (
		SELECT
		employeeNo,max(admissionStartDate) as admissionStartDate FROM
		T006EmployeeSiteInfo
		where
		customerNo = ifnull(#{customerNo},customerNo)
		and
		admissionStartDate &lt;=
		concat(#{yearAndMonth},"99")
		and
		(admissionEndDate is null or
		admissionEndDate &gt;=
		concat(#{yearAndMonth},"00"))
		and (systemName !=
		"休暇" or systemName is
		null)
		and (typteOfContractCode != "4" or
		typteOfContractCode is null)
		group by employeeNo
		) as temp
		on
		T006.employeeNo = temp.employeeNo
		and
		T006.admissionStartDate =
		temp.admissionStartDate
		)t006
		on
		t001.employeeNo=t006.employeeNo
		left join
		T007CustomerInfo as t007 on
		t006.customerNo=t007.customerNo
		left join
		M013Station as m013 on
		t006.stationCode=m013.stationCode
		# BP所属customer
		LEFT JOIN
		(SELECT
		DISTINCT T007CustomerInfo.customerAbbreviation AS
		bpBelongCustomerAbbreviation,
		T011BpInfoSupplement.bpEmployeeNo,
		T011BpInfoSupplement.bpBelongCustomerCode
		FROM
		T011BpInfoSupplement
		INNER JOIN T007CustomerInfo ON
		T011BpInfoSupplement.bpBelongCustomerCode =
		T007CustomerInfo.customerNo) AS t011 ON t001.employeeNo =
		t011.bpEmployeeNo
		LEFT JOIN
		(SELECT
		SUM(T016EmployeeWorkTime.workTime) AS
		workTime,
		T016EmployeeWorkTime.employeeNo,
		T016EmployeeWorkTime.yearAndMonth
		FROM
		T016EmployeeWorkTime
		WHERE
		T016EmployeeWorkTime.yearAndMonth =
		#{yearAndMonth} group by T016EmployeeWorkTime.employeeNo) AS T016 ON
		t001.employeeNo = T016.employeeNo
		left
		join
		T018WorkTotalTime as T018 on
		t001.employeeNo=T018.employeeNo
		and
		T018.attendanceYearAndMonth=#{yearAndMonth}
		,(SELECT @rowNo:=0) AS
		rowNo

		WHERE
		(T018.attendanceYearAndMonth = #{yearAndMonth}
		or
		T018.attendanceYearAndMonth is null)
		<!-- 社員区分 -->
		<if test="employeeStatus == -1">
			and (t002.employeeStatus=1 or t002.employeeStatus=2 or t002.employeeStatus=0)
		</if>
		<if test="employeeStatus == 1">
			and t002.employeeStatus=1
		</if>
		<if test="employeeStatus == 0">
			and t002.employeeStatus=0
		</if>
		<if test="employeeStatus == 2">
			and t002.employeeStatus=2
		</if>
		<!-- ステータス 1未登録 2登録済 3未承認 4承認済 -->
		
		<if test="approvalStatus == 1">
			and (T016.workTime is null
			and T018.sumWorkTime is null)
		</if>
		<if test="approvalStatus == 2">
			and (T018.sumWorkTime is not null OR T016.workTime is not
			null)
		</if>
		<if test="approvalStatus == 3">
			AND ((T018.sumWorkTime is not null OR T016.workTime is not
			null)
			AND T018.approvalStatus = '0')
		</if>
		<if test="approvalStatus == 4">
			and T018.approvalStatus = "1"
		</if>
		<if test="employeeNo!=null">
			AND t002.employeeNo=#{employeeNo}
		</if>
		order BY CASE WHEN t002.employeeStatus=0
		THEN 0
		WHEN t002.employeeStatus=2
		THEN 1
		WHEN t002.employeeStatus=1
		THEN 2 end,t001.employeeNo
	</select>

	<select id="selectCostRegistration" resultMap="CostRegistration"
		parameterType="String">
		SELECT * FROM T020CostInfo
		where yearMonth =
		#{yearAndMonth}
		order by employeeNo,costClassificationCode !=
		"0",happendDate;
	</select>

	<update id="updateDutyManagement" parameterType="String">
		UPDATE
		T018WorkTotalTime
		SET
		<if test="approvalStatus == 2">
			approvalStatus = approvalStatus,
		</if>
		<if test="approvalStatus != 2">
			approvalStatus = #{approvalStatus},
		</if>
		approvalUser = #{approvalUser},
		deductionsAndOvertimePayOfUnitPrice=#{deductionsAndOvertimePayOfUnitPrice},
		deductionsAndOvertimePay=#{deductionsAndOvertimePay}
		WHERE
		employeeNo =
		#{employeeNo}
		and attendanceYearAndMonth = #{yearAndMonth}
	</update>

	<select id="selectWorkTime" resultMap="DutyManagement"
		parameterType="String">
		SELECT employeeNo,yearAndMonth,sum(workTime) as
		workTime,updateTime,updateUser
		FROM T016EmployeeWorkTime
		where
		yearAndMonth = #{yearAndMonth}
		group by
		employeeNo
	</select>

	<select id="getFirstName" resultMap="String"
		parameterType="String">
		SELECT employeeFristName FROM T001Employee
		where
		employeeNo = #{employeeNo}
	</select>
</mapper>